.navbar navbar-expand-lg bg-primary {
    height: 100%;
    display: flex;
    width: 100%;
    
}

.navbar-brand{
    margin-left: 10px;
   

}

.ml-auto{
    align-items:flex-start;
    display: flex;
    justify-content:flex-start;
    margin-left: 20px;
    /* justify-items: end; */
    
}
/* .btn btn-outline-light{
    margin: 10px;
} */



.custom-background {
    background-image: url('../assets/background.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Other background properties can be added here */
    height: 600px;
    display:flex;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(0.4);
  }

  .content{
    margin-left:100px;
    margin-top: 100px;
    text-align: left;
  }

  .table shadow{
    display: flex;
    height: auto;
    width: auto;
  }


  .bg-navy {
    background-color: navy;
    background-image: linear-gradient(180deg, #1DC690 0%, navy 100%)
  }







